#menu{
    height: 100vh;
    width: 220px;
    min-width: 220px;
    background-color: rgb(77, 57, 75);
    position: static;
    left: 0px;
    Top:0px;

    font-size: 12pt;
    color: rgb(202, 202, 202);
    grid-area:menu;
}

#top{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#low{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: 220px;
}

#companyName{
    color:azure;
    margin-bottom: 5px;
}

#threads>h3{
    color:rgb(185, 187, 187);
}

#threads:hover{
    background-color: rgb(62, 49, 60);
}
body{
    font-family: Slack-Lato,appleLogo,sans-serif;
}
.Shadow:not(.activ):hover{
    background-color: rgb(62, 49, 60);
}
.flex-container {
    display: flex;
    justify-content: flex-start;
}

.R1{
    font-size: 11pt;
}
.ch1{
    padding-bottom: 3px;
    padding-top: 3px;
}
.ch2{
    padding-left: 20px;
    padding-right: 20px;
}
.ch3{
    margin-top:20px;
}
.activ{
    background-color: rgb(76, 150, 137);
    color: rgb(245,245,245);
}
.warning{
    color: rgb(245,245,245);
}
.bright:hover{
    color:white;
}
.first{
    margin-top:4px;
}
.ic1{
    color: rgb(137,124,137);
}
.ic2{
    color: rgb(190,217,212);
}
.ic3{
    color: rgb(56,141,151);
}
.ic4{
    font-size: 9pt;
}
.ic5{
    font-size: 15pt;
}

.pen:hover{
    cursor: pointer;
}

.imgc1{
    margin-top: 13px;
    src:"quick_switcher_ns.png";
}
#articleMessage{
    padding-left: 15px;
    padding-top: 45px;
    font-size: 13pt;
}
.articleText{
    color:rgb(44,45,48);
}
.sprt{
    color: grey;
}
.btn1{
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(5,137,208);
    font-size: 10.5pt;
    margin-bottom: 16px;
    margin-right: 16px;
}
.sprt{
    margin-top: 20px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: flex-start;
    color: rgb(232,232,232);
    background-color: white;
    position:sticky;
    top:-9px;
    z-index:10;
}
.line{
    width:50%;
}
.topHolst{
    padding-left: 15px;
    padding-top:10px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(232, 232, 232);
    border-bottom-style: solid;
    padding-bottom: 8px;
    max-height: 60px;
    box-sizing: border-box;
    grid-area: header;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
}
.smallic{
    color:rgb(113,114,116);
    font-size: 10pt;
}
.topHolstRight{
    padding-top:10px;
    padding-right: 15px;
    font-size:17pt;
    color:rgb(113,114,116);
}
#inputFind{
    border-radius: 5px;
    height: 33px;
    width: 300px;
    border-style: solid;
    border-color: rgb(113,114,116);
    border-width: 1px;
}
.dateMsgs{
    min-width: max-content;
    min-width: -moz-max-content;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
    color:black;
    border-radius:4px;
    z-index: 2;
}
.inputMessage{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(232,232,232);
    max-height: 66px;
    box-sizing: border-box;
    padding-bottom: 10px;
    bottom:  0px;
    right: 0px;
    width: auto;
    grid-area:msg;
}
#inpudDiv{
    box-sizing:border-box;
    width: inherit;
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 2px;

    border-style: solid;
    border-color: rgb(188,188,188);
    border-width: 2px;
    min-height: 42px;
    border-radius: 5px;
    
}
#inputDivPlus{
    width: 40px;
    height: 37px;
    max-height: 42px;
    border-right-color: rgb(188,188,188);
    border-right-width: 2px;
    border-right-style: solid;
    color:rgb(160,160,160);
    font-size:20pt;
    padding-top: 5px;

}
#MessageTextBtns{
    color:rgb(113,114,116);
    width:65px;
    display: flex;
    justify-content: space-between;
}
#simbolAt{
    padding-top: 7px;
    font-size: 16pt;
}
#simbolSml{
    font-size:22pt;
    margin-right: 5px;
}
#inputText{
    width:100%;
    font-size: 12pt;
    border-width: 0px;
}
#simbolAt:hover{
 color: rgb(5,118,185);
 transition-duration: 200ms;
 transition-property: all;
 transition-timing-function: linear;
 transform: scale(1.25,1.25);
}

#simbolSml:hover{
    color:#DDA200;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: linear;
    transform: scale(1.25,1.25);
}
#inputDivPlus:hover{
    background-color: rgb(86,182,139);
    color:white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.chats{
    overflow-y: scroll;
    grid-area: chat;
}
#actvWin>span{
    font-size:14pt;
}
.msg{
    padding-top:10px;
    font-size: 11pt;
    padding-left:25px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 5px;

}
.msgTime{
    color: rgb(114,114,114);
    font-size: 9pt;
}
.msgSText{
    color: rgb(114,114,114);
    font-size: 10.5pt;
    line-height:1.5;
}
.msgText{
    color: black;
    font-size: 10.5pt;
    line-height:1.5;
}
.avatar{
    border-width: 0px;
    border-radius: 3px;
}
#aboutBlock{
    grid-area:about;
    border-width: 1px;
    border-color:rgb(232,232,232);
    border-style: solid;
}
.window{
    position:fixed;
    height: 100%;
    width:100%;
    display: grid;
    grid-template-columns: 220px 1fr 280px;
    grid-template-rows: 60px 1fr 66px;
    grid-template-areas: 
    "menu header header" 
    "menu chat about"
    "menu msg about";
}
#firstAB{
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-color:rgb(232,232,232);
    border-bottom-style: solid;
    padding-top:18px;
    padding-left:10px;
    box-sizing: border-box;
    background-color: rgb(249,249,249);
}
.typicalAB{
    height: 60px;
    border-bottom-width: 1px;
    border-bottom-color:rgb(232,232,232);
    border-bottom-style: solid;
    padding-top:18px;
    padding-left:10px;
    box-sizing: border-box;
    color:rgb(146,146,146);
    font-size: 14pt;
}
.typicalAB>p{
    color:black;
}
.typicalABblock{
    height: 100%;
    overflow-y: auto;
}
.info{
    padding-top: 10px;
}
.msg:hover{
    background-color: rgb(249,249,249);
}
