#menu{
    height: 100vh;
    width: 220px;
    min-width: 220px;
    background-color: rgb(77, 57, 75);
    position: static;
    left: 0px;
    Top:0px;

    font-size: 12pt;
    color: rgb(202, 202, 202);
    grid-area:menu;
}
#top{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
#low{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: 220px;
    background-color: rgb(77, 57, 75);
}
#companyName{
    color:azure;
    margin-bottom: 5px;
    display: block;
}
.Frght{
    float: right;
    color: rgb(127,119,125);
    padding-top:3px;
}
.faplus{
    padding-right: 20px;
}
#menu *{
    transition: 500ms linear;
}
.btnMsg *{
    transition: 500ms linear;
}
#menu .fa{
    transition: 500ms linear;
}
#menu .fa:hover{
    color:rgb(184,176,183);
}
#threads>h3{
    color:rgb(185, 187, 187);
}
#threads:hover{
    background-color: rgb(62, 49, 60);
}
body{
    font-family: Slack-Lato,appleLogo,sans-serif;
}
.Shadow:not(.activ):hover{
    background-color: rgb(62, 49, 60);
}
.flex-container {
    display: flex;
    justify-content: flex-start;
}

.R1{
    font-size: 11pt;
}
.ch1{
    padding-bottom: 3px;
    padding-top: 3px;
}
.ch2{
    padding-left: 20px;
    padding-right: 20px;
}
.ch3{
    margin-top:20px;
}
.activ{
    background-color: rgb(76, 150, 137);
    color: rgb(245,245,245);
}
.warning{
    color: rgb(245,245,245);
}
.bright:hover{
    color:white;
}
.first{
    margin-top:4px;
}
.ic1{
    color: rgb(137,124,137);
}
.ic2{
    color: rgb(190,217,212);
}
.ic3{
    color: rgb(56,141,151);
}
.ic4{
    font-size: 9pt;
}
.ic5{
    font-size: 15pt;
}

.pen:hover{
    cursor: pointer;
}

.imgc1{
    margin-top: 13px;
    src:"quick_switcher_ns.png";
}
#articleMessage{
    padding-left: 15px;
    padding-top: 45px;
    font-size: 13pt;
}
.articleText{
    color:rgb(44,45,48);
}
.sprt{
    color: grey;
}
.btn1{
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(5,137,208);
    font-size: 10.5pt;
    margin-bottom: 16px;
    margin-right: 16px;
}
.sprt{
    margin-top: 20px;
    margin-bottom: 10px; 
    display: flex;
    justify-content: flex-start;
    color: rgb(232,232,232);
    background-color: white;
    position:sticky;
    top:-9px;
    z-index:10;
}
.line{
    width:50%;
}
.topHolst{
    padding-left: 15px;
    padding-top:10px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(232, 232, 232);
    border-bottom-style: solid;
    padding-bottom: 8px;
    max-height: 60px;
    box-sizing: border-box;
    grid-area: header;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
}
.topHolstLeft{
    display: flex;
    justify-content: flex-start;
    position:relative;
}
.smallic{
    color:rgb(113,114,116);
    font-size: 10pt;
    transition: 500ms linear;
}
.smallic:hover{
    color:rgb(5,122,189);
    cursor: pointer;
}
.rzdTHL{
    margin-top:5px;
    margin-left:4px;
    margin-right:4px;
    width: 1px;
    height: 10px;
    background-color:rgb(113,114,116);
}
.starTHL{
    margin-top:-5px;
    font-size: 14pt;
    transition: 500ms linear;
}
.ttl:hover:after {
    content: attr(data-name);
    position: absolute;
    left:0;
    bottom: -34px;
    height: 15px;
    width:max-content;
    background: rgb(0,0,0);
    color: #E2E2E2;
    text-align: center;
    font-size: 11pt;
    margin-top:50px;
    padding:8px;
    border-style: none;
    border-radius: 4px;
    display:block;
    z-index: 100;
}
.ttl:hover:before{
        z-index:100;
		content: "";
        position: absolute;
        width:1px;
        height: 1px;
		bottom: -5px;
        left: 5px;
        border: 6px solid transparent;
        border-bottom: 6px solid black; 
}
.topHolstRight>div{
    position: relative;
}
.topHolstLeft>div{
    position: relative;
}
.starTHL:hover{
    color:rgb(255,204,82);
    cursor: pointer;
}
.smallicAT{
    margin-right:2px;
    padding-left:2px;
    padding-right: 2px;
    padding-top:2px;
    padding-bottom: 4px;
    color:rgb(113,114,116);
    font-size: 10pt;
    margin-left: 3px;
    border:1px solid rgba(232,232,232,0);
    border-radius: 3px;
    transition: 500ms linear;
}
.smallicAT:hover{
    cursor: pointer;
    border-color: rgb(232,232,232);
}
#smallhide{
    padding-top: 3px;
    font-size: 10pt;
    color:rgba(29,118,192,0);
}
#smallhide:hover{
    color:rgb(29,118,192);
}
.smallicAT:hover+#smallhide{
    color:rgb(29,118,192);
}
.topHolstRight{
    padding-top:10px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size:17pt;
    color:rgb(113,114,116);
    display: flex;
    justify-content:flex-start;
}
.topHolstRight>*{
    padding-left:5px;
    padding-right: 5px;
    min-height: 32px;
    align-self: center;
}
#phoneTHR{
    color:rgb(232, 232, 232);
}
#helpTHR{
    background-color: rgb(232, 232, 232);
    border-radius: 4px;
    color:black;
}
#setttingsTHR:hover{
    color:rgb(5,122,189);
    transition: 500ms linear;
}
#inputFind{
    border-radius: 5px;
    height: 33px;
    width: 170px;
    border-style: solid;
    border-color: rgb(113,114,116);
    border-width: 1px;
    margin-left:5px;
    margin-right: 5px;
    transition: 500ms linear;
}
.topHolstRight>div{
    position: relative;
}
#inputFind+div:hover{
    position: absolute;
    display:block;
    bottom:-260px;
    right:0px;
}
#inputFind+div{
    display:none;
    background-color: white;
    border: 1px solid rgb(113,114,116);
    z-index:100;
    /* height: 250px; */
    width:270px;
    border-radius: 5px;
    margin-right: 10px;
}
#inputFind:focus+div{
    position: absolute;
    display:block;
    bottom:-250px;
    right:0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-sizing: content-box;
    padding:9px;
}
.topHolstRight .strt{
    font-size: 10pt;
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-bottom:5px;
}
.topHolstRight .strt>*{
    margin-left:4px;
}
.topHolstRight .inputTitleItem{
    font-size:10.5pt;
    color: rgb(160,160,160);
    padding:7px;
    border-radius: 4px;
    transition: 500ms linear;
}
.topHolstRight .inputTitleItem>b{
    color:rgb(80,80,80);
    transition: 500ms linear;
}
.topHolstRight .inputTitleItem:hover{
    background-color: rgb(5,137,208);
    color: rgb(184,176,183);
}
.topHolstRight .inputTitleItem:hover>b{
    color:white;
}
#inputFind:focus{
    width: 250px;
}
#atTHD{
    font-size:15pt;
    padding-top:6px;
    transition: 500ms linear;
}
#atTHD:hover{
    color:rgb(215,43,75);

}
#starTHD{
    transition: 500ms linear;
}
#starTHD:hover{
    color:rgb(255,204,82);
}
#moreTHD{
    padding-top:6px;
    transition: 500ms linear;
}
#moreTHD:hover{
    color:rgb(29,118,192);
}
.dateMsgs{
    min-width: max-content;
    min-width: -moz-max-content;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
    color:black;
    border-radius:4px;
    z-index: 2;
}
.inputMessage{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(232,232,232);
    max-height: 66px;
    box-sizing: border-box;
    padding-bottom: 10px;
    bottom:  0px;
    right: 0px;
    width: auto;
    grid-area:msg;
}
#inpudDiv{
    box-sizing:border-box;
    width: inherit;
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 2px;

    border-style: solid;
    border-color: rgb(188,188,188);
    border-width: 2px;
    min-height: 42px;
    border-radius: 5px;
    
}
#inputDivPlus{
    width: 40px;
    height: 37px;
    max-height: 42px;
    border-right-color: rgb(188,188,188);
    border-right-width: 2px;
    border-right-style: solid;
    color:rgb(160,160,160);
    font-size:20pt;
    padding-top: 5px;

}
#MessageTextBtns{
    color:rgb(113,114,116);
    width:65px;
    display: flex;
    justify-content: space-between;
}
#simbolAt{
    padding-top: 7px;
    font-size: 16pt;
    transition: 500ms linear;
}
#simbolSml{
    font-size:22pt;
    margin-right: 5px;
    transition: 500ms linear;
}
#inputText{
    width:100%;
    font-size: 12pt;
    border-width: 0px;
}
#simbolAt:hover{
 color: rgb(5,118,185);
 transform: scale(1.25,1.25);
}

#simbolSml:hover{
    color:#DDA200;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: linear;
    transform: scale(1.25,1.25);
}
#inputDivPlus:hover{
    background-color: rgb(86,182,139);
    color:white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.chats{
    overflow-y: scroll;
    grid-area: chat;
}
#actvWin>span{
    font-size:14pt;
}
.msg{
    padding-top:10px;
    font-size: 11pt;
    padding-left:25px;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 5px;
    position: relative;    
}
.msgTime{
    color: rgb(114,114,114);
    font-size: 9pt;
}
.msgSText{
    color: rgb(114,114,114);
    font-size: 10.5pt;
    line-height:1.5;
}
.msgText{
    color: black;
    font-size: 10.5pt;
    line-height:1.5;
}
.avatar{
    border-width: 0px;
    border-radius: 3px;
}
.btnMsg{
    /* display:none; */
    display:none;
    width: 115px;
    height: 30px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(232,232,232);
    position:absolute;
    top:-5px;
    right:20px;
    background-color: white;
}
.btnMsg>div{
    align-self: center;
    color:rgb(115,115,115);
    flex-grow:1;
}
.btnMsg>div:hover{
    color: rgb(5,118,185);
}
.msg:hover .btnMsg{
    display:flex;
}
/* .btnMsg>.gr{
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color:  rgb(232,232,232);
} */
#aboutBlock{
    grid-area:about;
    border-width: 1px;
    border-color:rgb(232,232,232);
    border-style: solid;
}
.window{
    position:fixed;
    height: 100%;
    width:100%;
    display: grid;
    grid-template-columns: 220px 1fr 280px;
    grid-template-rows: 60px 1fr 66px;
    grid-template-areas: 
    "menu header header" 
    "menu chat about"
    "menu msg about";
}
#firstAB{
    /* height: 60px; */
    padding-bottom: 18px;
    border-bottom-width: 1px;
    border-bottom-color:rgb(232,232,232);
    border-bottom-style: solid;
    padding-right: 10px;
    padding-top:18px;
    padding-left:10px;
    box-sizing: border-box;
    background-color: rgb(249,249,249);
}
.typicalAB{
    /* height: 60px; */
    padding-bottom: 18px;
    border-bottom-width: 1px;
    border-bottom-color:rgb(232,232,232);
    border-bottom-style: solid;
    padding-top:18px;
    padding-left:10px;
    padding-right: 5px; 
    box-sizing: border-box;
    color:rgb(146,146,146);
    font-size: 14pt;
    outline: 0;
}
.typicalABblock{
    height: 100%;
    overflow-y: auto;
}
.typicalABblock>details>summary:hover{
    cursor: pointer;
}
summary>.fa-arrows{
    color:rgb(29,118,192);
}
summary>.fa-thumb-tack{
    color:#F37500;
}
summary>.fa-user-o{
    color:rgb(76, 150, 137);
}
summary>.fa-cloud{
    color:rgb(255,204,82);
}
summary>.fa-bell-o{
    color:rgb(215,43,75);
}
.info{
    padding-top: 10px;
    font-size: 10.5pt;
    color:rgb(114,114,114);
    padding-right: 10px;
}
details summary::-webkit-details-marker { 
    display: none;
}
details, summary { 
    display: block;
    border:none;
    outline: 0;
  }

details summary:after {
    float: right;
    content: " ► ";
}
details[open] summary:after {
    float: right;
    content: " ▼ ";
}
details[open] summary{
    filter: brightness(85%);
}
details>summary:hover{
    filter: brightness(85%);
    transition: 500ms linear;
}
.msg:hover{
    background-color: rgb(249,249,249);
}
.Channel-Details>div{
    padding-top: 10px;
    font-size: 10.5pt;
    color:#333333;
    padding-right: 10px;
}
.Channel-Details>div>div>i{
    padding-left:4px;
    color:rgb(160,160,160);
    font-size: 9pt;
}
.Channel-Details>div>div{
    display: flex;
}
.Channel-Details>div>div>*{
    display:block;
    align-self: center;
}
.Channel-Details>div>div>img{
    margin-right:5px;
}
.Channel-Details>div>b{
    color:rgb(80,80,80);
    font-size: 10pt;
}
.Members>div>div{
    color:rgb(80,80,80);
    font-size: 10.5pt;
    display: flex;
    margin-bottom: 8px;
}
.Members>div>div>*{
    display:block;
    margin-left:3px;
    align-self: center;
}
.Members>div>div>i{
    font-size:9.5pt;
    color:rgb(160,160,160);
}
.Members>div{
    padding-top: 18px;
    font-size:11pt;
}
@keyframes loadqqq {
    from {
        filter:opacity(10%);
    }
    to{
        filter:opacity(100%);
    }
  }
  details[open]>div {
    animation: loadqqq 1s 1 linear;
  }
  details{
      transition: 500ms linear;
  }
  

