#menu{
    height: 100vh;
    width: 220px;
    min-width: 220px;
    background-color: rgb(77, 57, 75);
    position: static;
    left: 0px;
    Top:0px;

    font-size: 12pt;
    color: rgb(202, 202, 202);
}

#top{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

#low{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: 220px;
}

#companyName{
    color:azure;
    margin-bottom: 5px;
}

#threads>h3{
    color:rgb(185, 187, 187);
}

#threads:hover{
    background-color: rgb(62, 49, 60);
}
body{
    font-family: Slack-Lato,appleLogo,sans-serif;
}
.Shadow:not(.activ):hover{
    background-color: rgb(62, 49, 60);
}
.flex-container {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    }

.flex-item {
display: -webkit-inline-flex;
 display: inline-flex; 
    }

.R1{
    font-size: 11pt;
}
.ch1{
    padding-bottom: 3px;
    padding-top: 3px;
}
.ch2{
    padding-left: 20px;
    padding-right: 20px;
}
.ch3{
    margin-top:20px;
}
.activ{
    background-color: rgb(76, 150, 137);
    color: rgb(245,245,245);
}
.warning{
    color: rgb(245,245,245);
}
.bright:hover{
    color:white;
}
.first{
    margin-top:4px;
}
.ic1{
    color: rgb(137,124,137);
}
.ic2{
    color: rgb(190,217,212);
}
.ic3{
    color: rgb(56,141,151);
}
.ic4{
    font-size: 9pt;
}
.ic5{
    font-size: 15pt;
}

.pen:hover{
    cursor: pointer;
}

.imgc1{
    margin-top: 13px;
    src:"quick_switcher_ns.png";
}
.flex-container {
    display: -webkit-flex; 
    display: flex; /*отображает контейнер как блочный элемент*/
}
#articleMessage{
    padding-left: 15px;
    padding-top: 45px;
    font-size: 13pt;
}
.articleText{
    color:rgb(44,45,48);
}
.sprt{
    color: grey;
}
.btn1{
    border-width: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(5,137,208);
    font-size: 10.5pt;
    margin-bottom: 16px;
    margin-right: 16px;
}
.sprt{
    margin-top: 4px;
    margin-bottom: 4px; 
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
}
.line{
    width:50%;
}
.mainHolst{
    width:100%;
}
.topHolst{
    padding-left: 15px;
    padding-top:10px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(232, 232, 232);
    border-bottom-style: solid;
    padding-bottom: 8px;
}
.smallic{
    color:rgb(113,114,116);
    font-size: 10pt;
}
.topHolstRight{
    position:absolute;
    right:0;
    top:0;
    padding-top:10px;
    padding-right: 15px;
    font-size:17pt;
    color:rgb(113,114,116);
}
input{
    border-radius: 5px;
    height: 33px;
    width: 300px;
    border-style: solid;
    border-color: rgb(113,114,116);
    border-width: 1px;
}
#date{
    min-width: max-content;
    min-width: -moz-max-content;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
    color:black;
}
.inputMessage{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(232,232,232);
}
#inpudDiv{
    box-sizing:border-box;
    width: inherit;
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 2px;

    border-style: solid;
    border-color: rgb(188,188,188);
    border-width: 2px;
    min-height: 42px;
    border-radius: 5px;
    
}
#inputDivPlus{
    width: 40px;
    height: 42px;
    border-right-color: rgb(188,188,188);
    border-right-width: 2px;
    border-right-style: solid;
    color:rgb(160,160,160);
    font-size:21pt;

}